{% extends "multiends/web.html" %}

{% block content %}

    <div id="settings">
        {% if  user != 'AnonymousUser' %}
            <div style="margin-top: 100px">你已经登录了哦</div>
        {% else %}
            <div class="ac-game-settings">
            <div class="ac-game-settings-login">
                <div class="ac-game-settings-title">
                    登录
                </div>
                <div class="ac-game-settings-username">
                    <div class="ac-game-settings-item">
                        <input type="text" placeholder="用户名">
                    </div>
                </div>
                <div class="ac-game-settings-password">
                    <div class="ac-game-settings-item">
                        <input type="password" placeholder="密码">
                    </div>
                </div>
                <div class="ac-game-settings-submit">
                    <div class="ac-game-settings-item">
                        <button>登录</button>
                    </div>
                </div>
                <div class="ac-game-settings-error-message">
                </div>
                <div class="ac-game-settings-option">
                    注册
                </div>
                <br>
{#                <div class="ac-game-settings-acwing">#}
{#                    <img width="30" src="https://app165.acapp.acwing.com.cn/static/image/settings/acwing_logo.png">#}
{#                    <br>#}
{#                    <div>#}
{#                        AcWing一键登录#}
{#                    </div>#}
{#                </div>#}
            </div>
            <div class="ac-game-settings-register">
                <div class="ac-game-settings-title">
                    注册
                </div>
                <div class="ac-game-settings-username">
                    <div class="ac-game-settings-item">
                        <input type="text" placeholder="用户名">
                    </div>
                </div>
                <div class="ac-game-settings-password ac-game-settings-password-first">
                    <div class="ac-game-settings-item">
                        <input type="password" placeholder="密码">
                    </div>
                </div>
                <div class="ac-game-settings-password ac-game-settings-password-second">
                    <div class="ac-game-settings-item">
                        <input type="password" placeholder="确认密码">
                    </div>
                </div>
                <div class="ac-game-settings-submit">
                    <div class="ac-game-settings-item">
                        <button>注册</button>
                    </div>
                </div>
                <div class="ac-game-settings-error-message">
                </div>
                <div class="ac-game-settings-option">
                    登录
                </div>

{#                <div class="ac-game-settings-acwing">#}
{#                    <img width="30" src="https://app165.acapp.acwing.com.cn/static/image/settings/acwing_logo.png">#}
{#                    <br>#}
{#                    <div>#}
{#                        AcWing一键登录#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
        {% endif %}
    </div>

{% endblock content %}